@import '../abstract/_var.sass'

.main-container
    @include reset()
    background-color: #101010
    width: 100%
    height: 100vh
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr 8fr 1fr
