@import '../abstract/_var'
.home-container
    @include reset()
    width: 100%
    text-align: center
    .header
        display: flex
        align-items: center
        justify-content: center
        gap: 0.5rem
        p
            @include reset()
    .temperatura
        .main-temp
            display: flex
            align-items: center
            justify-content: center
            h1
               @include reset() 
               font-size: $fonte-size *2
                
            img
                width: 130px
    .weather-infos
        h5
            font-size: $fonte-size /3
            color: $fonte-cor-secundaria
        .informacoes
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            gap: 1.2rem
            margin-top: 2rem
            .box
                display: flex
                flex-direction: column
                text-align: center
                align-items: center
                width: 200px
                border-radius: 20px
                color: $cor-logo
                background-color: #1f1f1f
                padding: 20px
                &:hover
                    box-shadow: 1px 1px 20px 5px $cor-logo
                h4
                    font-size: $fonte-size

@media screen and (min-width: 700px) 
    .home-container
        .weather-infos
            .informacoes
                flex-direction: row
                
