@import '../abstract/_var.sass'

.perfil-container
    header
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        p
            font-size: calc( $fonte-size/2.8  )
        h3
            font-size: calc($fonte-size / 1.2  )
        .perfil-img
            font-size: calc( $fonte-size*1.2  )
            margin-top: 1rem
        .perfil-info
            text-align: center
            color: $fonte-cor-secundaria
            margin-bottom: 3rem