@import '../abstract/_var.sass'

.rodape
    header
        display: flex
        flex-direction: column
        .logo
            width: 150px
            margin: 2rem 0
        .redes
            display: flex
            align-items: center
            justify-content: space-around
            @include reset()
            .rede
                width: 100%
                display: flex
                align-items: center
                justify-content: space-around
                a
                    color: white
                    font-size: $fonte-size
                    &:hover
                        border-bottom: 5px solid $cor-logo

    .download
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin: 1rem
        .lojas
            display: flex
            flex-direction: column
            margin: 1rem
            gap: 1rem
            a
                img
                    width: 200px

@media screen and (min-width: 700px) 
    .rodape
        header
            flex-direction: row
            justify-content: space-between
            .logo
                width: 200px
            .redes
                gap: 1rem
        .download
            .lojas
                flex-direction: row

