html, body {
  font-family: "Roboto", sans-serif;
  color: #FFF;
  box-sizing: border-box;
}

.main-container {
  padding: 0;
  margin: 0;
  background-color: #101010;
  width: 100%;
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: 0.2fr 1fr 0.4fr;
}

.navbar {
  height: 120px;
}

.collapse ul {
  margin-left: 2rem;
}

.login {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.login p {
  font-size: 0.7317073171rem;
  text-transform: uppercase;
  padding: 5px 30px;
  border: 1px solid #1b64ce;
  border-radius: 10px;
  font-weight: 300;
  transition: 0.4s;
  margin-top: 1.5rem;
}
.login p:hover {
  box-shadow: 1px 1px 15px 3px #1b64ce;
  color: white;
  transition: 0.4s;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}
.logo img {
  width: 50px;
}
.logo p {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  color: #1b64ce;
}
.logo p span {
  font-weight: 900;
  color: #949494 !important;
}

.rodape header {
  display: flex;
  flex-direction: column;
}
.rodape header .logo {
  width: 150px;
  margin: 2rem 0;
}
.rodape header .redes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
.rodape header .redes .rede {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rodape header .redes .rede a {
  color: white;
  font-size: 3rem;
}
.rodape header .redes .rede a:hover {
  border-bottom: 5px solid #1b64ce;
}
.rodape .download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.rodape .download .lojas {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
}
.rodape .download .lojas a img {
  width: 200px;
}

@media screen and (min-width: 700px) {
  .rodape header {
    flex-direction: row;
    justify-content: space-between;
  }
  .rodape header .logo {
    width: 200px;
  }
  .rodape header .redes {
    gap: 1rem;
  }
  .rodape .download .lojas {
    flex-direction: row;
  }
}
.home-container {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}
.home-container .header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.home-container .header p {
  padding: 0;
  margin: 0;
}
.home-container .temperatura .main-temp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container .temperatura .main-temp h1 {
  padding: 0;
  margin: 0;
  font-size: 6rem;
}
.home-container .temperatura .main-temp img {
  width: 130px;
}
.home-container .weather-infos h5 {
  font-size: 1rem;
  color: #949494;
}
.home-container .weather-infos .informacoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-top: 2rem;
}
.home-container .weather-infos .informacoes .box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 200px;
  border-radius: 20px;
  color: #1b64ce;
  background-color: #1f1f1f;
  padding: 20px;
}
.home-container .weather-infos .informacoes .box:hover {
  box-shadow: 1px 1px 20px 5px #1b64ce;
}
.home-container .weather-infos .informacoes .box h4 {
  font-size: 3rem;
}

@media screen and (min-width: 700px) {
  .home-container .weather-infos .informacoes {
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */